src/ontology/mirror/bfo.owl
src/ontology/mirror/chebi.owl
src/ontology/mirror/envo.owl
src/ontology/mirror/pato.owl
src/ontology/mirror/iao.owl
src/ontology/catalog-v001.xml
src/ontology/catalog-v001.xml
src/ontology/mirror
src/ontology/mirror/*
src/ontology/envo-test/Makefile
